.Footer {
    background-image: url("https://res.cloudinary.com/do9rcgv5s/image/upload/v1692144184/qgbkcsydg2vwqcosx4ns.png");
}

.input-field {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px 0;
    background: transparent;
    font-size: 14px;
    color: #ffffff;
}

.input-field:focus {
    /* border: 0; */
    border-image-slice: 1;
}

.button-field {
    width: 65px;
    height: 30px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid white;
    background: transparent;
    font-size: 12px;
    color: #ffffff;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
}