
.product-item {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.product-item>img {
    height: 400px;
    width: 280px;
    transition: transform 0.3s ease-in-out;
}

.product-item:hover>img {
    transform: scale(1.1);
}